{
  "check-coverage": true,
  "per-file": true,
  "lines": 50,
  "statements": 50,
  "functions": 50,
  "branches": 50,
  "include": [
    "src/**/*.js"
  ],
  "exclude": [
    "src/queries/**/*.js",
    "src/routes/**/*.js",
    "src/utilities/make_promises_safe.js",
    "src/server.js",
    "src/index.js",
    "src/db_connect.js"
  ],
  "reporter": [
    "lcov",
    "text-summary"
  ]
}